*{
	padding:0;
	margin:0;
} 
.container {
	width:1348px;
	height:533px;
	position:absolute;
	top:140px;
	overflow:hidden;
	
}
.photobanner {
	height:633px;
	border:solid 1px;
	top:1180px;
	left:0px;
	width:8250px;
}
img {
	position:relative;
	top:50px;
}
.bg {
	width:100%;
	height:100px;
	background-color:black;
	position:absolute;
	top:56px;
	}
.religion2 {
	position:absolute;
	color:cyan;
	top:64px;
	left:585px;
	z-index:10;
	font-family:agency fb;
	font-size:70px;
	animation:typereligion 5s steps(60,end);
	overflow:hidden;
	width:50%; 
	height:80px;
}
@keyframes typereligion {
	0% {
		width:0%
	}
	
}

span {
	animation:blink 1s infinite;
}
@keyframes blink {
	to{
		opacity:.0;
	}
}

.first {
	animation:bannermove 52s linear infinite;
}
@keyframes bannermove {
	0% {
		margin-left:0;
	}
	100% {
		margin-left:-5500px;
	}
}
.photobanner img {
	transition:all 0.5 ease;
}
.photobanner img:hover {
	transform:scale(1.1);
	z-index:100;
	animation-play-state:pause;
	box-shadow: 5px 5px 40px rgba(255,255,255,0.5);
	transition:0.5s ease;
}

#buddhism {
	position:absolute;
	top:713px;
}
.buddhismbg {
	position:absolute;
	top:670px;
	height:663px;
	width:100%;
	-webkit-filter:blur(5px) brightness(1.7)

}
body {
	background-color:#F0FFFF;
}

#buddhism h1 {
	position:absolute;
	color:white;
	top:-20px;
	left:40px;
	font-family:freestyle script;
	font-size:90px;
	text-shadow:0px 0px 5px black;
	
}
#buddhism p {
	position:absolute;
	top:100px;
	height:455px;
	width:600px;
	padding:20px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:17px;
	border-left:20px white solid;
	color:white;
}
#buddhism img {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:30px;
	filter:grayscale(75%) brightness(1.7);
	transition:1s ease;
}
#buddhism img:hover {
	filter:none
}

#christianity {
	position:absolute;
	top:1500px;
}

.christianitybg {
	top:1350px;
	width:100%;
	height:663px;
	-webkit-filter:blur(5px) brightness(1.7);
	transform:rotatey(180deg)
}
#christianity h1 {
	position:absolute;
	color:white;
	top:-140px;
	left:1000px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#christianity p {
	position:absolute;
	top:-10px;
	height:455px;
	width:600px;
	padding:20px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:670px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
}
.christianity2 {
	position:absolute;
	height:550px;
	left:25px;
	width:600px;
	border:10px solid #F8E0E6;
	top:-80px;
	filter:grayscale(100%);
	transition:1s ease;
}
#christianity .christianity2:hover {
	filter:grayscale(0%) saturate(130%);
}

#confucianism {
	position:absolute;
	top:2300px;
}

.confucianismbg {
	top:1350px;
	width:100%;
	height:663px;
	-webkit-filter:blur(5px);
}
#confucianism h1 {
	position:absolute;
	color:white;
	top:-280px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#confucianism p {
	position:absolute;
	top:-160px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.confucianism2 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:-230px;
	filter:grayscale(100%);
	transition:1s ease;
}
#confucianism .confucianism2:hover {
	filter:grayscale(0%) saturate(130%);
}


#hinduism {
	position:absolute;
	top:3000px;
}

.Hinduismbg {
	top:1350px;
	width:100%;
	height:663px;
	-webkit-filter:blur(5px);
}
#hinduism h1 {
	position:relative;
	color:white;
	top:-320px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#hinduism p {
	position:absolute;
	top:-200px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:20px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
	z-index:1
}
.hinduism2 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:-260px;
	filter:grayscale(100%);
	transition:1s ease;
}
#hinduism .hinduism2:hover {
	filter:grayscale(0%) saturate(130%);
}



#islam {
	position:absolute;
	top:3000px;
}

.islambg {
	top:3350px;
	width:100%;
	height:663px;
	left:0px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#islam h1 {
	position:relative;
	color:white;
	top:340px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#islam p {
	position:absolute;
	top:450px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.islam2 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:400px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#islam .islam2:hover {
	filter:grayscale(0%) saturate(130%);
}



#jainism {
	position:absolute;
	top:3000px;
}

.jainismbg {
	top:4025px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#jainism h1 {
	position:relative;
	color:white;
	top:1025px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#jainism p {
	position:absolute;
	top:1130px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.jainism2 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:1075px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#jainism .jainism2:hover {
	filter:grayscale(0%) saturate(130%);
}



#judaism {
	position:absolute;
	top:3000px;
}

.judaismbg {
	top:4700px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#judaism h1 {
	position:relative;
	color:white;
	top:1700px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#judaism p {
	position:absolute;
	top:1805px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.judaism2 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:1755px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#judaism .judaism2:hover {
	filter:grayscale(0%) saturate(130%);
}


#shintoism {
	position:absolute;
	top:3000px;
}

.shintoismbg {
	top:5375px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#shintoism h1 {
	position:relative;
	color:white;
	top:2375px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#shintoism p {
	position:absolute;
	top:2485px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.shintoism2 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:2430px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#shintoism .shintoism2:hover {
	filter:grayscale(0%) saturate(130%);
}


#sikhism {
	position:absolute;
	top:3000px;
}

.sikhismbg {
	top:6050px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#sikhism h1 {
	position:relative;
	color:white;
	top:3055px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#sikhism p {
	position:absolute;
	top:3160px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.sikhism2 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:3110px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#sikhism .sikhism2:hover {
	filter:grayscale(0%) saturate(130%);
}


#taoism {
	position:absolute;
	top:3000px;
}

.taoismbg {
	top:6725px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#taoism h1 {
	position:relative;
	color:white;
	top:3725px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#taoism p {
	position:absolute;
	top:3825px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.taoism2 {
	position:relative;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:3685px;
	filter:grayscale(75%);
	transition:1s ease;
	
}
#taoism .taoism2:hover {
	filter:grayscale(0%) saturate(130%);
}

#hoa11 {
	position:absolute;
	top:3000px;
}

.hoa11bg {
	top:7400px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#hoa11 h1 {
	position:relative;
	color:white;
	top:4405px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#hoa11 p {
	position:absolute;
	top:4500px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.hoa11 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:4450px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#hoa11 .hoa11:hover {
	filter:grayscale(0%) saturate(130%);
}

#hoa12 {
	position:absolute;
	top:3000px;
}

.hoa12bg {
	top:8070px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#hoa12 h1 {
	position:relative;
	color:white;
	top:5100px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#hoa12 p {
	position:absolute;
	top:5200px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.hoa12 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:5130px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#hoa12 .hoa12:hover {
	filter:grayscale(0%) saturate(130%);
}


#hoa13 {
	position:absolute;
	top:3000px;
}

.hoa13bg {
	top:8700px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#hoa13 h1 {
	position:relative;
	color:white;
	top:5755px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#hoa13 p {
	position:absolute;
	top:5850px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.hoa13 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:5790px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#hoa13 .hoa13:hover {
	filter:grayscale(0%) saturate(130%);
}



#hoa14 {
	position:absolute;
	top:3000px;
}

.hoa14bg {
	top:9350px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#hoa14 h1 {
	position:relative;
	color:white;
	top:6400px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#hoa14 p {
	position:absolute;
	top:6500px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.hoa14 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:6420px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#hoa14 .hoa14:hover {
	filter:grayscale(0%) saturate(130%);
}



#hoa15 {
	position:absolute;
	top:3000px;
}

.hoa15bg {
	top:10020px;
	width:100%;
	left:0;
	height:663px;
	-webkit-filter:blur(3px);
	position:Absolute;
}
#hoa15 h1 {
	position:relative;
	color:white;
	top:7060px;
	left:50px;
	font-family:freestyle script;
	font-size:100px;
	text-shadow:0px 0px 5px black;
}

#hoa15 p {
	position:absolute;
	top:7160px;
	height:455px;
	width:600px;
	padding:15px;
	background-color:rgba(0,0,0,0.6);
	text-align:justify;
	left:20px;
	font-family:calibri;
	border-radius:5px;
	font-size:16px;
	border-right:20px black solid;
	color:white;
	padding-bottom:20px;
}
.hoa15 {
	position:absolute;
	height:550px;
	left:705px;
	width:600px;
	border:10px solid #F8E0E6;
	top:7100px;
	filter:grayscale(100%);
	transition:1s ease;
	
}
#hoa15 .hoa15:hover {
	filter:grayscale(0%) saturate(130%);
}